### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [424]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas DataFrame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [425]:
# Total # of players
players_df = purchase_data.groupby("SN")["SN"].nunique()
players_df.count()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [426]:
avg_price = purchase_data['Price'].mean()
num_purchases = purchase_data['Item Name'].count()
total_revenue = purchase_data['Price'].sum()

# Create dataframe with metrics
purchasing_analysis_summary = pd.DataFrame(
        {'Number of Unique Items': [unique_items],
         'Average Price': [avg_price],
         'Number of Purchases': [num_purchases],
         'Total Revenue': [total_revenue],
        } )
# Display the summary DataFrame
purchasing_analysis_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [427]:
# Count of Male/Female/other Players
unique_players_df = purchase_data.drop_duplicates(subset="SN", keep='first')
gender_count = purchase_data.groupby("Gender")["SN"].nunique()
gender_count_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [428]:
# Percentage of Male/Female/other Players
gender_percentage = (gender_count_df/576)*100
gender_percentage_df.round(2)

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [429]:
# Gender demographics DataFrame

gender_demographics_df = pd.DataFrame({"Gender Count": gender_count_df,"Gender Percentage":gender_percentage_df})
gender_demographics_df

                       Gender Count  Gender Percentage
Gender
Female                           81          14.062500
Male                            484          84.027778
Other / Non-Disclosed            11           1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [430]:
# Purchases by gender
gender_purchases_df = purchase_data.groupby("Gender")["Price"].count()
gender_purchases_df.count()

3

In [431]:
# Avg purchases by gender
gender_average_df = purchase_data.groupby("Gender")["Price"].mean()
gender_average_df.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [432]:
# Total purchases by gender
gender_total_df = purchase_data.groupby("Gender")["Price"].sum()
gender_total_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [433]:
# Normalized gender total
normalized_gender_total_df = gender_total_df/gender_count_df
normalized_gender_total_df.round(2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [434]:
# Purchase DataFrame
gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases_df, 
                                   "Average Purchase Price":gender_average_df,
                                   "Total Purchase Value":gender_total_df,})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [435]:
#Create the bins for Age Buckets
bins = [0,10,15,20,25,30,35,40, 45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [436]:
# Create the labels for bins
pd.cut(purchase_data["Age"], bins, labels=age_ranges)

0      15-19
1      35-39
2      20-24
3      20-24
4      20-24
5      20-24
6      35-39
7      15-19
8      20-24
9      30-34
10     20-24
11     20-24
12     20-24
13     20-24
14     30-34
15     20-24
16     15-19
17     20-24
18     20-24
19     25-29
20     15-19
21     15-19
22     35-39
23     35-39
24     25-29
25     25-29
26     10-14
27       <10
28     20-24
29     20-24
       ...
750    20-24
751    10-14
752    15-19
753    35-39
754    20-24
755    10-14
756    15-19
757    15-19
758    20-24
759    20-24
760    20-24
761     >=40
762    25-29
763    20-24
764    15-19
765    15-19
766    20-24
767      <10
768    35-39
769    10-14
770    30-34
771    15-19
772    25-29
773    20-24
774    10-14
775    20-24
776    20-24
777    15-19
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [437]:
# Convert to DataFrame
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels= age_ranges)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [438]:
# Group by Age Groups and get summary of data
age_group_percentage_df = round(purchase_data["Age Range"].value_counts()/780,2)
age_group_percentage_df

20-24    0.42
15-19    0.26
25-29    0.10
10-14    0.07
30-34    0.07
35-39    0.04
<10      0.04
>=40     0.01
Name: Age Range, dtype: float64

In [439]:
age_group_count_df = purchase_data.groupby("Age Range")["Item Name"].count()
age_group_count_df

Age Range
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: Item Name, dtype: int64

In [440]:
age_group_average_df = purchase_data.groupby("Age Range")["Price"].mean()
age_group_average_df.round(2)

Age Range
<10      3.40
10-14    2.90
15-19    3.11
20-24    3.02
25-29    2.88
30-34    2.99
35-39    3.40
>=40     3.08
Name: Price, dtype: float64

In [441]:
age_group_total_df = purchase_data.groupby("Age Range")["Price"].sum()
age_group_total_df

Age Range
<10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-39    112.35
>=40      21.53
Name: Price, dtype: float64

In [442]:
Avg_total_purchase_df = age_group_total_df/576*100
Avg_total_purchase_df.round(2)

Age Range
<10       18.92
10-14     27.19
15-19    107.91
20-24    170.42
25-29     38.44
30-34     27.03
35-39     19.51
>=40       3.74
Name: Price, dtype: float64

In [443]:
# Calculate normalized value for each Age Group
age_range_df = pd.DataFrame({"Purchase Count":age_group_count_df,
                            "Average Purchase Price":age_group_average_df,
                            "Total Purchase Value": age_group_total_df,
                            "Avg Total Purchase per Person": Avg_total_purchase_df
})
age_range_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,32,3.405000,108.96,18.916667
10-14,54,2.900000,156.60,27.187500
15-19,200,3.107800,621.56,107.909722
20-24,325,3.020431,981.64,170.423611
25-29,77,2.875584,221.42,38.440972
30-34,52,2.994423,155.71,27.032986
35-39,33,3.404545,112.35,19.505208
>=40,7,3.075714,21.53,3.737847

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [444]:
# Get list of top 5 spenders
items_purchase_count_df = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price_df = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total_df = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# Convert to DataFrame

items_purchased_df = pd.DataFrame({"Purchase Count":items_purchase_count_df,
                                   "Item Price":items_average_price_df,
                                   "Total Purchase Value":items_value_total_df,})

items_purchased_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [445]:
# Get list of top 5 Popular Items
most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [446]:
# Get list of top 5 most profitable items
most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80